body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    width: 1128px;
}

ul {
    width: 1128px;
display: flex;
    justify-content: center;
    flex-wrap: wrap;
    user-select: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery-image {
    width: 360px;
    height: 200px;
    transition: transform 0.3s ease-out;
    margin-left: 4px;
    padding: 0;

}

.gallery-item:hover {
transform: scale(1.05);
}